

      <div class="form-popup" id="myForm1" style="display:block">

         <form action="/admin/categories" method="POST" class="form-container">

        <h1> Add Category</h1>
    
        <label for="Category"><b>Category</b></label>
        <input type="text" placeholder="Enter Category" name="name" required value=<%= category.name%>>    
        <input  class="btn" type="submit" value="Add Category" >
        
        <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
      </form>


    
    </div>
    

    