<form method="post" action="/admin/books_add_save" enctype="multipart/form-data">'
    <h1>Add Book</h1>

    <label for="Books"><b>Book Name</b></label>
    <input type="text" placeholder="Enter Book Name" name="name" required>

    

    <label for="Books"><b>Author</b></label>
    
      
        
        
    
    

    <label for="Books"><b>Image</b></label>
    <input type="file" id="file" name="file">

    <input type="submit" value="submit">'
    <button class="btn" onclick=closeForm2()>close</button>
  </form>